*{
    font-family: monospace;
}
body{
    margin: 0;
    background-color: #f0f8ff;
    font-size: 15px;
}
header{
    height:100vh;
    color:white;
    background-color: #2196F3;
 }
 h1{
    font-size:  50px;
    color: #2196F3
 }
 header h1{
    color: white;
    margin: 0;
 }
 .button{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
 }
 .button:hover{
    color: white;
    background-color: darkblue;
 }
 main{
   padding: 20px;
 }
 section{
   height: 100vh;
   border: 1px solid grey;
   border-radius: 20px;
   margin-bottom: 20px;
 }
 .submit{
   height: 40px;
   width: 140px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   color: white;
   background-color: #2196F3;
 }
 .submit:hover{

   background-color:  #0e8bf1;
 }
 input{
   border-radius: 5px;
   border: 1px solid lightgreen;
   height: 25;
 }
 .fixedButton{
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-color:  #2196F3;
 }
 footer{
  height: 106px;
  background-color: black;
  color: lightgrey;
 }